<div class="contenedor-principal" [ngClass]="{'contenedor-principal-flex':estilo==='FLEX','contenedor-principal-grid':estilo==='GRID'}">
    <div class="contenedor-cabecera">
        <div>CABECERA</div>
        <div class="btn btn-sm btn-light" (click)="cambiaDatos()">{{bandera?'DATOS SI':'DATOS NO'}}</div>
        <div class="btn btn-sm btn-light" (click)="cambiaEstilo()">{{estilo}}</div>
    </div>
    <div class="contenedor-necesario-para-flex">
        <div class="contenedor-filtros">
            <div id="Cliente">
                <p>Cliente:</p>
                <input type="text" placeholder="Cliente..." #cliente required />
                <button (click)="cliente.value='' ">Borrar</button>
            </div>
            <div id="Referencias">
                <p>Referencias:</p>
                <input type="text" placeholder="Referencias..." #referencias required />
                <button (click)="referencias.value='' ">Borrar</button>
            </div>
            <div id="Usuario">
                <p>Usuario:</p>
                <input type="text" placeholder="Usuario..." #usuario required>
                <button (click)="usuario.value='' ">Borrar</button>
            </div>
            <div id="Fecha">
                <p>Fecha:</p>
                <input type="date" class="inputFecha" #date required>
                <button class="btn btn-light" (click)="date.value='' ">Borrar</button>
            </div>
            <div id="Tipo">
                <p>Tipo:</p>
                <select>
                    <option selected></option>
                    <option>New York </option>
                    <option>Bucarest</option>
                    <option>Madrid</option>
                </select>
            </div>
        </div>
        <div class="contenedor-tabla">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col"></th>
                        <th scope="col">Q.</th>
                        <th scope="col">Estado</th>
                        <th scope="col">TIPO</th>
                        <th scope="col">FECHA</th>
                        <th scope="col"></th>
                        <th scope="col">Cliente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listas">
                        <th scope="row">{{item.producto}} </th>
                        <td>{{item.comentario}} </td>
                        <td>{{item.q}} </td>
                        <td>{{item.estado}} </td>
                        <td>{{item.tipo}} </td>
                        <td>{{item.fecha}} </td>
                        <td> </td>
                        <td>{{item.cliente}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>