<router-outlet></router-outlet>
<button class="btn btn-success" (click)="muestraConsola(title)">Ok</button>
<div id="Buscador">
    <div id="Cliente">
        <p>Cliente:</p>
        <input type="text" placeholder="Cliente..." #cliente required />
        <button (click)="cliente.value='' ">Borrar</button>
    </div>
    <div id="Referencias">
        <p>Referencias:</p>
        <input type="text" placeholder="Referencias..." #referencias required />
        <button (click)="referencias.value='' ">Borrar</button>
    </div>
    <div id="Usuario">
        <p>Usuario:</p>
        <input type="text" placeholder="Usuario..." #usuario required>
        <button (click)="usuario.value='' ">Borrar</button>
    </div>
    <div id="Fecha">
        <p>Fecha:</p>
        <input type="date" class="inputFecha" #date required>
        <button (click)="date.value='' ">Borrar</button>
    </div>
    <div id="Tipo">
        <p>Tipo:</p>
        <select>
          <option selected></option>
          <option>New York </option>
          <option>Bucarest</option>
          <option>Madrid</option>
        </select>
    </div>
</div>