<router-outlet></router-outlet>
<button class="btn btn-success" (click)="muestraConsola(title)">Ok</button>
<div id="Buscador">
    <div id="Cliente">
        <label for="inputCliente">Cliente:</label>
        <input class="form-control" type="text" placeholder="Cliente..." id="inputCliente" #inputCliente required />
        <button (click)="inputCliente.value='' ">Borrar</button>
    </div>
    <div id="Referencias">
        <p>Referencias:</p>
        <input class="form-control" type="text" placeholder="Referencias..." #referencias required />
        <button (click)="referencias.value='' ">Borrar</button>
    </div>
    <div id="Usuario">
        <label>Usuario:</label>
        <input class="form-control" type="text" placeholder="Usuario..." #usuario required>
        <button (click)="usuario.value='' ">Borrar</button>
    </div>
    <div id="Fecha">
        <label>Fecha:</label>
        <input type="date" class="inputFecha" #date required>
        <button (click)="date.value='' ">Borrar</button>
    </div>
    <div id="Tipo">
        <label>Tipo:</label>
        <select>
          <option selected =true disabled="disabled"></option>
          <option>New York </option>
          <option>Bucarest</option>
          <option>Madrid</option>
        </select>
    </div>
</div>